<div class="row">
  <div class="col-lg-4">
    <mat-card class="main">
      <mat-card-header>
        <mat-card-title>Configuración</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-checkbox
        (mouseenter)="tooltip.show()"
        (mouseleave)="tooltip.hide()"
        class="example-margin"
        [(ngModel)]="interval.sameTime"
        [(indeterminate)]="indeterminate"
        [labelPosition]="labelPosition"
        [disabled]="disabled">
        <span
        #tooltip="matTooltip"
        matTooltip="Todos los intervalos tendrán el mismo tiempo">
        </span>
          Tiempos unificados
        </mat-checkbox>
        <div *ngIf="interval.sameTime">
          <mat-form-field>
            <mat-label>
              Nº Intervalos
            </mat-label>
            <input matInput type="number" min="0" [(ngModel)]="interval.intervals">
          </mat-form-field>
          <div class="col-sm-6 offset-sm-3 time">
            <table id="tableTime">
              <tr>
                <td>
                  <button mat-icon-button (click)="addMins()">
                    <mat-icon>keyboard_arrow_up</mat-icon>
                  </button>
                </td>
                <td></td>
                <td>
                  <button mat-icon-button (click)="addSecs()">
                    <mat-icon>keyboard_arrow_up</mat-icon>
                  </button>
                </td>
              </tr>
              <tr>
                <td>{{ interval.minDis }}</td>
                <td>:</td>
                <td>{{ interval.secDis  }}</td>
              </tr>
              <tr>
                <td>
                  <button mat-icon-button (click)="subtractMins()">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>
                </td>
                <td></td>
                <td>
                  <button mat-icon-button (click)="subtractSecs()">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>
                </td>
              </tr>
            </table>
          </div>
          <span *ngIf="error">{{error}}</span>
        </div>
        <div *ngIf="!interval.sameTime">
          Si los tiempos no son iguales se configurará aquí.
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="apply()">Aplicar</button>
        <button mat-button (click)="reset()">Resetear</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div class="col-lg-8">
    <mat-card  class="main">
      <mat-card-header>
        <mat-card-title>Intervalos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="display">
          {{ timer.minDisplay }}:{{ timer.secDisplay }}
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="start();">Inicio</button>
        <button mat-button>Pausa</button>
        <button mat-button>Reinicio</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
