<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/chronos" routerLinkActive="active">Cronometro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/timer" routerLinkActive="active">Temporizador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/emon" routerLinkActive="active">EMOM</a>
        </li>
      </ul>
    </div>
  </div>

</nav>


<!--nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/chronos" routerLinkActive="active">Cronometro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/timer">Temporizador</a>


        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">AMRAP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">EMOM</a>
        </li>
      </ul>
    </div>
  </div>
</nav-->
