<div class="row">
  <div class="col-lg-4">
    <mat-card class="main">
      <mat-card-header>
        <mat-card-title>Configuración</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <hr class="my-4-fix-top">
      <mat-card-content>
        <form [formGroup]="checkoutForm">
          <p>
          <mat-form-field class="example-full-width">
            <mat-label>Rondas</mat-label>
            <input
            matInput
            formControlName="reps"
            type="number"
            min="0"
            placeholder="">
          </mat-form-field>
          </p>
        </form>
      </mat-card-content>
      <hr class="my-4-fix-bottom">
      <mat-card-actions>
        <button mat-button (click)="apply()">Aplicar</button>
        <button mat-button>Resetear</button>
      </mat-card-actions>

    </mat-card>
  </div>

  <div class="col-lg-8">
    <mat-card class="main">
      <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
      </mat-card-header>
      <hr class="my-4-fix-top">
      <mat-card-content>
        <div class="display">
          {{ display.minutes }}:{{ display.seconds }}
        </div>
        <div id=TableReps class="table-responsive">
          <table *ngIf="reps" class="table table-striped">
            <tbody>
              <tr>
                <td *ngFor="let col of reps; index as i"
                [ngClass]="{
                  'tdWait':i > index,
                  'tdRun':i == index,
                  'tdDone':i < index
                }"
                class="round">
                Round: {{i + 1}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </mat-card-content>
      <hr class="my-4-fix-bottom">
      <mat-card-actions>
        <button mat-button (click)="start();">Inicio</button>
        <button mat-button>Pausa</button>
        <button mat-button>Reinicio</button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>
