.main{
  margin-top: 1em;
}

.my-4-fix-top{
  margin-top: 0.4rem!important;
  margin-bottom: 1.5rem!important;
}
.my-4-fix-bottom{
  margin-top: 1.5rem!important;
  margin-bottom: 0.4rem!important;
}

.display{
  height: 100%;
  color:#333333;
  text-align: center;
  font-size: 4rem;
  font-family: alarm_clockregular;
}

.round{
  text-align: center;
}

.tdWait{
  background-color: #8fd3f4;

}

.tdRun{
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.tdDone{
  background-color: #84fab0;

}
