<div class="row">
  <div class="col-lg-8 offset-lg-2">

    <div class="jumbotron">
      <h1 class="display-4">Cronometro</h1>
      <hr class="my-4">
      <div id="display" class="col-md-12">
          <span *ngIf="day != 0">{{displayDay}}:</span>
          <span *ngIf="hour != 0">{{displayHour}}:</span>
          <span>{{displayMin}}:</span>
          <span>{{displaySec}}:</span>
          <span class="milisecond">{{displayMil}}</span>

      </div>
      <div class="row">
        <div class="col-sm-3 center">
          <button mat-raised-button
          color="primary"
          [disabled]="clickedPlay"
          (click)="start();
          clickedPlay=true;
          clickedPause=false;
          clickedInterval=false">
            Empezar
          </button>
        </div>
        <div class="col-sm-3 center">
          <button mat-raised-button
          color="accent"
          [disabled]="clickedPause"
          (click)="pause(); clickedPlay=false; clickedPause=true; isPaused=true">
            Pause
          </button>
        </div>
        <div class="col-sm-3 center">
          <button mat-raised-button
          color="accent"
          [disabled]="clickedInterval"
          (click)="getInterval();">
            Intervalo
          </button>
        </div>
        <div class="col-sm-3 center">
          <button mat-raised-button color="warn" (click)="stop()">Reiniciar</button>
        </div>




      </div>
      <hr class="my-4">
      <mat-list>
        <mat-list-item *ngFor="let time of interval">{{time}}</mat-list-item>
      </mat-list>
    </div>

  </div>
</div>
